
.datatable-button-holder > button {
	min-width: 130px;
}

.details-button {
	background-color: #293f7a !important;
	border-color: #293f7a !important;
}

.details-button:hover {
	background-color: #1e2e59 !important;
	border-color: #1e2e59 !important;
}

.details-button:active {
	background-color: #1e2e59 !important;
	border-color: #1e2e59 !important;
}

.details-button:focus {
	background-color: #1e2e59 !important;
	border-color: #1e2e59 !important;
}
