
.datatable-button-holder > button {
	min-width: 130px;
}

.pagination {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	gap: 5px;
	margin-top: 10px;
}

.pagination .num-of-page {
	text-decoration: none;
	color: #000;
	padding: 8px 15px;
	cursor: pointer;
	border-radius: 3px;
	font-weight: 400;
}

.pagination .num-of-page:hover {
	background-color: #293f7a;
	color: white;
}
  
.pagination .active {
	background-color: #1e2e59 !important;
	color: white;
}


.form-button {
	background-color: #8456cf !important;
	border-color: #8456cf !important;
}

.form-button:hover {
	background-color: #632cba !important;
	border-color: #632cba !important;
}

.form-button:active {
	background-color: #632cba !important;
	border-color: #632cba !important;
}

.form-button:focus {
	background-color: #632cba !important;
	border-color: #632cba !important;
}

.details-button {
	background-color: #293f7a !important;
	border-color: #293f7a !important;
}

.details-button:hover {
	background-color: #1e2e59 !important;
	border-color: #1e2e59 !important;
}

.details-button:active {
	background-color: #1e2e59 !important;
	border-color: #1e2e59 !important;
}

.details-button:focus {
	background-color: #1e2e59 !important;
	border-color: #1e2e59 !important;
}

.number-of-items {
	margin-top: -25px;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: end;
	padding-bottom: 10px;
}

