
.con1{
  
    height: 2cm;
 }
 .con2{
    
 }
 .card{
    border-left: 4px solid  #632cba !important;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
 }
 
 .iconn{
    color: #632cba;
 }
 
 .container-chart-mon-pro{
    background-color: red;
 }
 
 .chart{
 
 }
 
 
 
 
 .card-last-login{
 width: 10cm;
 }
 