.img{  
    float: right;
    width:6cm;
    height: 5cm;
}
.container{
    /* width: 20cm; */
    /* height: 5cm; */
    /* box-shadow: 1px 1px 2px 2px #632cba !important; */
}
.main-alert{
    position: relative;
} 
.alert-link{
    text-decoration:none;
    color: #0051ff;
}



/* .position-absolute{
    width: fit-content;
    width: -moz-fit-content;
} */
.css-u0soqy-MuiPickerStaticWrapper-root {
    box-shadow: 3px 3px 6px 6px #632cba !important;
}
.css-hlj6pa-MuiDialogActions-root {
    display: none !important;
}
.css-j88s13-MuiPickersToolbar-root-MuiDatePickerToolbar-root
    .MuiPickersToolbar-penIconButton {
    display: none !important;
}
.css-j88s13-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
    padding: 0 !important;
}
.css-hq2kpw-MuiGrid-root-MuiPickersToolbar-content {
    justify-content: center !important;
    background-color: #0051ff;
    color: white;
    padding: 1rem;
}
.css-1hbyad5-MuiTypography-root {
    display: none !important;
}
.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: #0051ff !important;
    color: white !important;
}