.btn-submit {
  background-color: #25396f !important;
  border-color: #25396f !important;
}
.btn-submit:hover {
  background-color: #1e2e59 !important;
  border-color: #1e2e59 !important;
}
.divBtn {
  position: relative;
  left: 10px;
}

.form form {
  width: 240px !important;
}
.form form {
  padding: 13px;
  margin: auto;
}