a {
	text-decoration: none;
}
.cursor-default {
	cursor: default;
}
.cursor-pointer {
	cursor: pointer;
}

.page-layout {
	height: 100vh;
	overflow: auto;
}

.rs-table {
	font-size: 14px;
}
.bars{
	cursor: pointer;
}

@media (width >= 700px) {
	.select-menu-card {
		min-width: 350px !important;
	}
}
