.list-card {
	min-width: 400px !important;
	z-index: 2000;
	overflow: hidden;
}

.menu {
	min-width: 400px;
}

.toggle {
	background-color: #fff;
	border-color: #ced4da !important;
}
.toggle:hover {
	background-color: #fff;
}

.toggle.disabled {
	background-color: #e9ecef;
	opacity: 1;
	cursor: default;
}

.option {
	height: 100%;
	transition: all 250ms;
	outline: none;
}
.option.selected {
	background-color: #f7f7f7;
}
.option:hover {
	background-color: #f7f7f7;
}
.option > button:focus {
	outline: none;
	background-color: #f7f7f7 !important;
}
